<!DOCTYPE html>
<html>
    <head>
        <title>Final Fantasy 14: ARR - Atma Myth</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fateatma.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='eorzeaclock/eorzeaclock.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='atma_myth.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='atma_myth01.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='atma_myth02.js') }}"></script>
    </head>
    <body>
        <h1>FFXIV:ARR - Atma Myth</h1>

        <hr></hr>
        <p>Atma killing me. I hope Atma not killing me :(</p>
        <p>Why bother decorating page for grinding ATMA?! Intended to be used by myself, but might help some other poor player who are getting sick of grinding ATMA.</p>

        <hr></hr>
        <h2>Eorzea Time - Where it all begins</h2>
        <div id="eorzeaclock">
            <script type="text/javascript">EorzeaClock();</script>
        </div>

        <hr></hr>
        <h2>Myth 01: Eorzea Date/Time and Zodiac Sign</h2>
        <p>This myth is based on following reports
        <ul>
            <li><a href="http://www.reddit.com/r/ffxiv/comments/22hta6/atma_farming_a_theory/">http://www.reddit.com/r/ffxiv/comments/22hta6/atma_farming_a_theory/</a></li>
            <li><a href="http://bbs1.ruliweb.daum.net/gaia/do/ruliweb/family/970/read?articleId=6816667&bbsId=G001&itemId=838&pageIndex=2">http://bbs1.ruliweb.daum.net/gaia/do/ruliweb/family/970/read?articleId=6816667&bbsId=G001&itemId=838&pageIndex=2</a></li> 
        </ul>
        </p>
        <div id="atmaMyth01">
            <script type="text/javascript">
                function AtmaMyth01()
                {
                    var eTime = EorzeaTime();
                    var atmaMyth01AreaByDate = getAtmaAreaByDate( eTime["month"], eTime["day"] );
                    var atmaMyth01AreaByHour = getAtmaAreaByHour( eTime["hour"] );
                    var atmaMyth01AreaByDateAndHour;

                    var atmaMyth01AreaByDateText = "<ul>";
                    atmaMyth01AreaByDateText += "<li>";
                    atmaMyth01AreaByDateText += getAtmaAreaNameByIdx( atmaMyth01AreaByDate )
                    atmaMyth01AreaByDateText += "</li>";
                    atmaMyth01AreaByDateText += "</ul>";

                    var atmaMyth01AreaByHourText = "<ul>";
                    for( var i = 0; i < atmaMyth01AreaByHour.length; i++ )
                    {
                        atmaMyth01AreaByHourText += "<li>";
                        atmaMyth01AreaByHourText += getAtmaAreaNameByIdx( atmaMyth01AreaByHour[i] );
                        atmaMyth01AreaByHourText += "</li>";
                        if( atmaMyth01AreaByHour[i] == atmaMyth01AreaByDate )
                        {
                            atmaMyth01AreaByDateAndHour = atmaMyth01AreaByHour[i];
                        }
                    }
                    atmaMyth01AreaByHourText += "</ul>";

                    var atmaMyth01AreaByDateAndHourText = "<ul>";
                    if( atmaMyth01AreaByDateAndHour )
                    {
                        atmaMyth01AreaByDateAndHourText += "<li>";
                        atmaMyth01AreaByDateAndHourText += getAtmaAreaNameByIdx( atmaMyth01AreaByDateAndHour );
                        atmaMyth01AreaByDateAndHourText += "</li>";
                    }
                    else
                    {
                        atmaMyth01AreaByDateAndHourText += "<li>";
                        atmaMyth01AreaByDateAndHourText += "No matching area found";
                        atmaMyth01AreaByDateAndHourText += "</li>";
                    }
                    atmaMyth01AreaByDateAndHourText += "</ul>";

                    var output = "";
                    output += "<p>Area matching with date: " + atmaMyth01AreaByDateText + "</p>";
                    output += "<p>Area matching with hour(attribute): " + atmaMyth01AreaByHourText + "</p>";
                    output += "<p>Area matching with BOTH date and time: " + atmaMyth01AreaByDateAndHourText + "</p>";
                    document.getElementById('atmaMyth01').innerHTML = output;
                    setTimeout('AtmaMyth01()',1000);
                }
                AtmaMyth01();
            </script>
        </div>

        <hr></hr>
        <h2>Myth 02: Real world time has something to do with</h2>
        <p>This myth is based on following reports
        <ul>
            <li><a href="http://jp.finalfantasyxiv.com/lodestone/character/5238810/blog/1065414">http://jp.finalfantasyxiv.com/lodestone/character/5238810/blog/1065414</a></li>
            <li><a href="http://jp.finalfantasyxiv.com/lodestone/character/5360731/blog/1049228/">http://jp.finalfantasyxiv.com/lodestone/character/5360731/blog/1049228/</a></li>
        </ul>

        <div id="atmaMyth02">
            <script type="text/javascript">
                function AtmaMyth02()
                {
                    var earthTime = EarthTime();
                    var areaId = getMyth02AtmaAreaByRealHour( earthTime["hour"] );

                    var myth02Text = "<ul>";
                    myth02Text += "<li>";
                    myth02Text += getAtmaAreaNameByIdx( areaId );
                    myth02Text += "</li>";

                    var output = "";
                    output += "<p>Area matching with Real Hour: " + myth02Text + "</p>";
                    document.getElementById('atmaMyth02').innerHTML = output;
                    setTimeout('AtmaMyth02()',1000);
                }
                AtmaMyth02();
            </script>
        </div>

        <div class="copyright">
            <hr></hr>
            <p>Created by:
            <ul>
                <li><a href="http://na.finalfantasyxiv.com/lodestone/character/6350440/">Tsukiko Noraneko @ Tonberry</a></li>
                <li>pipoket88 (Fuck off, email crawlers)  gmail.com</li>
            </ul>
            </p>
            <p>Disclaimer: Myth is myth. Never get too much serious</p>
            <p>Eorzea clock algorithm and implentation has been taken from following URL<br />
            <a href="http://www5.plala.or.jp/SQR/ff14/contents/download/eorzeaclock.html">
                http://www5.plala.or.jp/SQR/ff14/contents/download/eorzeaclock.html
            </a>
            </p>
        </div>
    </body>
</html>
